

/*-----header/footer-----*/

header, footer{
    background-color: rgb(221, 223, 223);
}

/*Barre de recherche */


/*Barre de Navigation*/



/*Carousel*/


/*Nos Hôtels*/ 

.flex-container-1{
    display: flex;
    justify-content: center; 
    text-align: center;
}

.flex-container-2{
    display: flex;
    justify-content: center;
    text-align: center;
}
.flex-container-3{
    display: flex;
    justify-content: center;
    text-align: center;
}
.flex-container-4{
    display: flex;
    justify-content: center;
    text-align: center;
}

/*Les Meilleurs Hôtels*/

h3{
    text-align: center;
    border: solid 2px;
}