/*Body*/

body{
font-family: 'Times New Roman', Times, serif;
background-color: white;
}

/*-----header/footer-----*/

.header{

    width:100%;
    margin:30px auto;
    background: cornflowerblue;
    display:flex;
   align-items: center;
    justify-content:space-between;
    padding:20px;
    border: 2px solid black;
    flex-wrap: wrap;
}

#titre-principal{
    text-align: start;
    text-decoration: underline;
}

.logo img{
    height:200px;
    border-radius: 5px;
    border: solid white;
}

/* SUPPORT */

.support{
    display:flex;
    align-items: center;
    gap:10px;
    flex-wrap: wrap;
}

.phone{

    width:30px;
    height:30px;
    border-radius:50%;
    background:grey;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
}

.support-text{
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
}

.support-text small{
    color:black;
    font-size:15px;
}

.support-text strong{
    color:black;
    font-size:15px;
}

/* MENU DROIT */

.menu{
    width:120px;
    
}

.menu a{
    display:block;
    text-decoration-line: underline;
    color:black;
    padding:10px;
    font-size:15px;
}


.menu select{
    display:block;
    text-decoration-line: underline;
    color:black;
    padding:10px;
    font-size:15px;
}

.monCompte{
    background:#8bd4d7;
    border: 1px solid black;
}

.votrePanier{
    background:#8bd4d7;
    border: 1px solid black;
}

.langue{
    background:#8bd4d7;
    border: 1px solid black;
}

.devise{
    background:#8bd4d7;
    border: 1px solid black;
}



#h1{
    padding: 25px;
    margin: 25px;

}


/*Footer*/

footer{

    width:100%;
    background:cornflowerblue;
    margin-top:50px;
    border-top:3px solid black
}



.footer-cadre{
    max-width:1200px;
    margin:auto;
    display:flex;
    justify-content:space-between;
    gap:40px;
    padding:40px 20px;
    flex-wrap: wrap;

}

.footer-onglet{
    flex:1;
}

.footer-onglet h4{
    color:black;
    font-size:15px;
    margin-bottom:20px;
    text-decoration: underline;

}

.footer-onglet p{

    color:black;
    font-size:15px;
    line-height:24px;

}

.footer-onglet ul{
    list-style:none;
}

.footer-onglet li{
    margin-bottom:10px;
}

.footer-onglet a{
    text-decoration:none;
    color:black;
}

.footer-onglet a:hover{
    color: green;
}

/*Réseaux Sociaux*/

.social{

    display:flex;
    gap:10px;
    flex-wrap: wrap;

}

.social a{
    width:35px;
    height:35px;
    border-radius:50%;
    background:grey;
    color:white;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;

}
.social a:hover{

    background:#57c5c8;

}


/*Newsletters*/

.newsletter{
    display:flex;
    flex-wrap: wrap;
}

.newsletter input{
    flex:1;
    padding:10px;
    border:1px solid black;
    border-radius:20px 0 0 20px;

}

.newsletter button{
    border:1px solid black;
    background:rgb(77, 76, 76);
    color:white;
    padding:0 20px;
    border-radius:0 20px 20px 0;
    cursor:pointer;

}

.newsletter button:hover{
    background-color: green;
}



/*Zone Copyright*/

.footer-bottom{
    border-top:2px solid black;
    background:white;
    padding:20px;
    text-align:center;
}

.footer-bottom p{
    color: black;
    margin-bottom:10px;
    font-size:15px;
    font-weight: bold;
}

.footer-liens{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:20px;
}

.footer-liens a{
    color:black;
    text-decoration:none;
    font-size:15px;
    font-weight: bold;
}

.footer-liens a:hover{
    color:green;
}

/*Carousel*/

.carousel-inner{
    height: 100%;
}
 
.carousel {
    position: relative; /*Référence pour notre recherche*/
}

.recherche-carou{
    background:cornflowerblue;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
    gap:25px;
    padding:25px;
    border-radius:4px solid black;

}

.bloc{
    flex:1;
}

.bloc h3{
    font-size:20px;
    color:black;
    text-decoration: underline;
    margin-bottom:18px;
    font-weight: 500;
}

.bloc span{
    color: cornflowerblue;
    font-weight:bold;
}

/*Votre Choix */

.radio-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:10px;
    font-size:15px;
    color: black;

}

/*Ou*/

.destination{
    width:100%;
    padding:12px 15px;
    border:1px solid black;
    border-radius:25px;

}

/*Quand + Calendar*/

.dates{
    display:flex;
    flex-wrap: wrap;
    gap:10px;
}

.calendar{
    position:relative;
    flex:1;
}

.calendar label{
    display:block;
    font-size:11px;
    color:black;
    margin-bottom:5px;
}

.calendar input{
    width:100%;
    padding:10px 35px 10px 12px;
    border-radius:25px;
    border:1px solid black;
}

.calendar i{
    position:absolute;
    right:12px;
    top:35px;
    color:black;
}

/* Composition de la Chambre*/

.qui{
    display:flex;
    flex-wrap: wrap;
    gap:10px;
}

.qui{
    flex:1;
}

.qui label{

    display:block;
    font-size:12px;
    color:black;
    margin-bottom:5px;

}

.qui input{
    width:100%;
    text-align:center;
    padding:10px;
    border-radius:20px;
    border:1px solid black;
}

.btn-container{
    text-align:center;
    margin-top:20px;

}

button{
    background:cornflowerblue;
    color:black;
    border-radius: 3px solid black;
    padding:15px 35px;
    cursor:pointer;
    font-weight:bold;

}

button:hover{
    background: cornflowerblue;
}

.btn-rechercher:hover{
    background-color: green;
}

.btn-rechercher{
    border-radius: 5px;
}
 
/*Notre selection du moment*/ 

.flex-container-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    text-align: center;
}

.article{
border-radius:10px;
margin: 10px;
background-color: cornflowerblue;
width: 350px;
height: 480px;
border: solid 2px black;
color: black;
}

.Badge-nouveau{

    background-color: yellow;
    top: 10px;
    right: 10px;
    color: black;
    padding: 5px;
    text-decoration: underline;
    font-weight: bold;

}

.badge-coeur{
    color: rgb(180, 14, 41);
    top: 10px;
    text-decoration: underline;
    font-weight: bold;

}


.article a:hover{
    background-color: green;
}

.article-2 a:hover{
    background-color: green;
}

/*Les meilleurs hôtels*/


.article-2{
border-radius:10px;
margin: 10px;
width: 450px;
height: 450px;
border: solid 2px black;
color: black;
background-color: cornflowerblue;
}


.h2{
    text-align: center;
    border: solid 2px black;
    color: black;

}

.h3{
    text-align: center;
    text-decoration: underline;
}

/*Pourquoi nous choisir*/


.article-3{
border-radius:10px;
margin: 10px;
width: 450px;
height: 350px;
border: solid 2px black;
color: black;
background-color: cornflowerblue;
}

.article-3 h3{
    text-decoration: underline;
}

.support-1{
    text-align: center;
}

.support-1 a{
    color: black;
}


/*Page A Propos de nous*/



.a-propos{
border-radius:10px;
margin: 10px;
background-color:  cornflowerblue;
width: 600px;
height: 300px;
border: solid 2px black;
color: black;
}



/*Maps*/

.maps{
border-radius: 5px;
border: solid 2px black;
margin: 0 auto;
align-items: center;
display: flex;
flex-wrap: wrap;
justify-content: center;
  
}

/*Page Formulaire d'inscription*/

/* formulaire*/

.color-text{
    color: black;
}


.inscription-fieldset {
    margin-bottom: 20px;
    border: 2px solid black;
    padding: 15px 50px;
    border-radius: 5px;
    color: black;
    background-color: cornflowerblue;
    width: 700px;
}

.container-formulaire {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
    
label{

  text-decoration: underline;
    color:black;
}

legend {
    font-weight: 900;
    padding: 5px;
}

input [type="text"],
input [type="email"],
input [type="Password"],
textarea,
select {

    width: 100%;
    padding: 10px;
}

#access{
    text-decoration: underline;
    color: black;
}

.btn-envoyer{
    border-radius: 5px ;
    background-color: grey;
}

.btn-envoyer:hover{
    background-color: green;
}

/*Contact*/

.formulaire {
    
    padding: 20px;
    max-width: auto;
    margin: 20px;
    background-color: cornflowerblue;
    border-radius: 10px;
    border: 2px solid black;

}

main {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
   
}

#main-contact{
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;

}


/*Votre compte */

.connexion{

    margin-bottom: 20px;
    border: 2px solid black;
    padding: 15px 50px;
    border-radius: 5px;
    color: black;
    background-color: cornflowerblue;
    
}

/*Page CGU*/


.info{
border-radius:10px;
margin: 10px;
background-color: cornflowerblue;
width: 400px;
height: 500px;
border: solid 2px black;
color: black;
}

#h1-cgu{
    text-align: center;
    text-decoration: underline;
}

/*Pages Nos Hôtels*/

/*Pages Carriere*/

.article-4{
border-radius:10px;
margin: 10px;
width: 350px;
height: 150px;
border: solid 2px black;
color: black;
background-color: cornflowerblue;
}

#carriere{
    text-decoration: underline;
}


/*Page Nos Hôtels*/
.page{
    display:flex;
    flex-wrap: wrap;
    background-color: white;
    min-height:20vh;
}

.img-du-carrou{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.content{
    width:60%;
    border: 1px solid black;
    background-color: cornflowerblue;
    border-radius: 5px;
}
.sidebar{
    width:30%;
    border: 1px solid black;
    text-align: center;
    padding: 20px;
    margin: 20px;
    background-color: cornflowerblue;
    border-radius: 5px;
    font-size: 17px;
}

.sidebar h2{
    padding: 10px;
    margin: 10px;
    font-size: 25px;
    text-decoration: underline;
}

.sidebar i{
    font-size: 15px;
}


#choix-room{
    text-align: center;
}

.content-1{
    width:40%;
    border: 1px solid black;
    background-color: cornflowerblue;
    border-radius: 5px;
    min-height: 30vh;
}
.sidebar-1{
    width:30%;
    border: 1px solid black;
    text-align: center;
    padding: 20px;
    margin: 20px;
    background-color: cornflowerblue;
    border-radius: 5px;
}
.sidebar-1 h2{
    text-decoration: underline;
}
.content-2{
    width:50%;
    border: 1px solid black;
    text-align: center;
    background-color: cornflowerblue;
    border-radius: 5px;
    height: 90vh;
}
.sidebar-2{
    width:40%;
    border: 1px solid black;
    text-align: center;
    padding: 20px;
    margin: 20px;
    background-color: cornflowerblue;
    border-radius: 5px;
    min-height: 50vh;
}
.sidebar-2 h2{
    text-decoration: underline;
}

.page-2{
    display:flex;
    flex-wrap: wrap;
    background-color: white;
    min-height:30vh;
}

#titre-chambre{
    text-align: center;
    text-decoration: underline;
}
#text-chambre{
    text-align: center;
}
.content-2 a:hover{
    background-color: green;
}

.page-3{
    display:flex;
    flex-wrap: wrap;
    background-color: white;
    height: 35vh;
}

#chambre{
    font-size: 15px;
}
.content-2 img{
    border-radius: 5px;
}

/*Les Avis*/

.avis {
    background:white;
    border-radius: 10px;
    border: solid black;
    padding: 20px;
    margin: 10px;
}

.etoile i{
    color: gold;
    font-size: 20px;
    margin-bottom: 10px;
}

.page-4{
    display:flex;
    flex-wrap: wrap;
    background-color: white;
    height: 70vh;
    justify-content: center;
    
}
.sidebar-4{
    width:30%;
    border: 1px solid black;
    text-align: center;
    padding: 20px;
    margin: 20px;
    background-color: cornflowerblue;
    border-radius: 5px;
    min-height: 20vh;
}

#new:hover{
    background-color: green;

}

/*Päge Paiement*/

.page-5{
    display:flex;
    flex-wrap: wrap;
    height: 30vh;
    justify-content: end;
    margin: 20px;
    
}

.sidebar-3{
    width:30%;
    border: 1px solid black;
    text-align: center;
    padding: 20px;
    margin: 20px;
    background-color: cornflowerblue;
    border-radius: 5px;
    height: 70vh;
}

.sidebar-3 li{
    text-align: start;
}

.content-3{

    width:40%;
    border: 1px solid black;
    text-align: center;
    background-color: cornflowerblue;
    border-radius: 5px;
    height: 80vh;

}

.paiement-carte h2{
    font-size:28px;
    margin-bottom:30px;
    border-bottom:2px solid black;
    padding-bottom:15px;
    color:black;
    text-decoration: underline;

}


.paiement-form{

    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;

}

.form-group{
    display:flex;
    flex-wrap: wrap;
    flex-direction:column;

}

.form-group label{

    margin-bottom:8px;
    font-weight:600;
    color:black;

}

.form-group input,
.form-group select{

    padding:12px;
    border:1px solid grey;
    border-radius:25px;
    font-size:15px;
    outline:none;
}

.checkbox{
    grid-column:1 / 3;
    display:flex;
    flex-wrap: wrap;
    align-items:center;
    gap:10px;
    margin-top:10px;
}

.checkbox a{
    color:green;
    text-decoration:none;
}

.checkbox a:hover{
    background-color: yellow;
}

.btn-paiement{
    
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-top:10px;
    background:grey;
    color:black;
    padding:12px 30px;
    border-radius:25px;
    font-weight:bold;
}

.btn-paiement:hover{

    background:green

}

#titre-total{
    text-align: center;
    text-decoration: underline;
}
